/******color palette *****/
.lightgreen {
    color: #94db82;
}
.darkgreen {
    color: #1d7f27;
}
.blue {
    color:#87a2b5;
}
.gray {
    color:#aaaaaa;
}

/*******global styles ***********/
body{
    margin: 0px auto;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto, minmax(100px, 1fr));
    grid-template-rows: repeat(auto, minmax(200px, 1fr))
}

#siteHeader{
    height: 1.3rem;
    padding: .6rem;
    font-size: 1.7rem;
    background-color: #1d7f27;
    color: white;
    margin-bottom: .4rem;
}

#siteInfo{
    background-color: slategray;
}

#searchBar {
    border-radius: 5px;
    border-style: solid;
    border-color: slategray;
    border-width: .75px;
    padding: .4rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    margin: .4rem;
    padding: .5rem;
    background-color: lightgray;
    color: black;
    border-radius: 4px;
    border-style: none;
}
ul {
    list-style-type: none;
}

/********index styles ***********/
#mainMap{
    margin: 1px auto;
    max-width: 95%;
    min-height:200px;
}

#restoList{
    text-decoration: none;
}

.restoItem{
    text-decoration: none;

}

/******post styles **************/
#entryBody{
    margin: 0 auto;
}
#commentsBox {
    font-style: italic;
}
.commentHeader {
    font-style: normal;
    font-weight: bold;
}
#commentSubmit {
    margin: 2px auto;
}
#commentSubmit input {
    border-style: solid;
    border-color: lightgrey;
    border-radius: 3px;
    box-shadow: 0px 4px 8px 0px gray;
    margin-bottom: .8rem;
}
#newComment{
    min-height: 4rem;
    min-width: 80%
}
#newAuthor{
    min-height: 1.2rem;
    min-width: 70%;
}

#restoMap{
    margin: 1px auto;
    max-width: 95%;
    min-height: 200px;
}
/**********footer styles **********/

